html
  include partials/head
  body
    div.content
      h1.title Ballantine Adult Fantasy
      img(src="/img/unicorncolophon.jpg", alt="Ballantine Adult Fantasy - Unicorn Colophon")
      h2 Documentation for API
      div.description
        p Instructions as to how to make proper use of the BAF API.
        p Just quick reference outside of the technical details: 
        p The series ran from 1969-1974 and was edited by Lin Carter. 
          | There are 18 books "pre-series" that are spiritually if not 
          | technically published under the Ballantine Adult Fantasy label, 
          | but many of these were later reprinted and emblazoned with 
          | the official unicorn colophon.
        p In the series proper, there were a total of 65 books published, 
          | and two "post-series", for a grand total of 85.
      ul
        li GET
        li GET
        li GET
        li POST
        li PATCH
        li PUT
        li DELETE
