html
  include partials/head
  body
    div.content
      h1.title Ballantine Adult Fantasy
      img(src="/img/unicorncolophon.jpg", alt="Ballantine Adult Fantasy - Unicorn Colophon")
      h2 Documentation for API
      div.description
        p Instructions as to how to make proper use of the BAF API.
        p Quick reference outside of the technical details: 
        p The series ran from 1969-1974 and was edited by Lin Carter. 
          | There are 18 books "pre-series" that are spiritually if not 
          | technically published under the Ballantine Adult Fantasy label, 
          | but many of these were later reprinted and emblazoned with 
          | the official unicorn colophon. In the series proper, there 
          | were a total of 65 books published, 
          | and two "post-series", for a grand total of 85 all told.
      ul
        li.item GET /books
        ul
          li Route: localhost:8080/books
          li Description: Returns a list of all books in the series.
          br
        li.item GET /books/{title}
        ul
          li Route: localhost:8080/books/{title}
          li Description: Returns a book matching the title... ... .
          br
        li.item GET /books/{author}
        ul
          li Route: localhost:8080/books/{author}
          li Description: Returns the matching author's books
          br
        li.item POST /books
        ul
          li Route: localhost:8080/books
          li Headers:
          ul
            li Content-Type: application/json
            li Authorization Bearer YOUR_API_KEY_HERE
          li Body:
            .code { "title": "Vathek", "author": ["William Beckford"], "publishyear": "1971", "publishoriginyear": "1786", "originalpublisher": "J. Johnson", "coverartist": "Ray Cruz" }
          li Description: Creates a new book from the data provided.
          br
        li.item PATCH
        ul
          li Route: 
          li Body:
            .code { "coverartist": "Gervasio Gallardo" }
          br
        li.item PUT
        ul
          li
          br
        li.item DELETE
        ul
          li
          br
      img.calligraph(src="/img/calligraph.png")