.content {
  margin: 0 auto;
  width:500px;
  text-align:center;
}

.title {
  text-align:center;
}

.description {
  text-align:left;
}

ul, li {
  text-align:left;
  font-family:'Courier New';
  font-size: large;
  margin-left:25px;
}